<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>SelfService 2.0 Portal</h1>
		</div>
		<div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
				erat lectus, vehicula feugiat ultricies at, tempus sed ante. Cras
				arcu erat, lobortis vitae quam et, mollis pharetra odio. Nullam sit
				amet congue ipsum. Nunc dapibus odio ut ligula venenatis porta non
				id dui. Duis nec tempor tellus. Suspendisse id blandit ligula, sit
				amet varius mauris. Nulla eu eros pharetra, tristique dui quis,
				vehicula libero. Aenean a neque sit amet tellus porttitor rutrum nec
				at leo.</p>

			<h2>Options</h2>
			<div class="well">
				<b>Enter the intranet: </b><a th:href="@{http://localhost:8084/bearer/customers}">backend services</a>
			</div>
			<div class="well">
				<b>User Management Account Seite: </b><a th:href="@{http://localhost:8081/auth/realms/hello-world-auth/account/password}">UMA Seite</a>
			</div>
			<div class="row">
			<div class="col-sm-12">
				<a id="logout" href="http://localhost:8080/logout" class="btn btn-dark">
					<span class="glyphicon glyphicon-log-out"></span>
					Logout
				</a>
			</div>
		</div>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>
	</div>
	<!-- container -->

</body>
</html>