
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="http://localhost:8080/auth/js/keycloak.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h2>Login</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<a id="logout" href="http://localhost:8081/auth/realms/hello-world-auth/protocol/openid-connect/auth?client_id=public-app&amp;scope=openid&amp;redirect_uri=http%3A%2F%2Flocalhost:8080%2Fpublic%2Findex&amp;response_type=code" class="btn btn-dark">
					<span class="glyphicon glyphicon-log-out"></span>
					Startseite (forcing keycloak auth)
				</a>
			</div>
		</div>
		<!-- <div class="row" >
			<div class="col-sm-12" th:with="baseUrl='http://localhost:8080/public/index'">
				<a id="logout" th:href="@{${baseUrl}}" class="btn btn-dark">
					<span class="glyphicon glyphicon-log-out"></span>
					Dynamic URL
				</a>
			</div>
		</div> -->
		<div class="row" >
			<div class="col-sm-12">
				<a id="logout" th:href="@{${hostURL} + ${indexURL}}" class="btn btn-dark">
					<span class="glyphicon glyphicon-log-out"></span>
					Startseite (normal request)
				</a>
			</div>
		</div>
	</body>
</html>
